@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
}

.page-container {
  @apply container;
  @apply px-4;
  @apply sm:px-6;
  @apply md:px-8;
  @apply mx-auto;
}

.hero {
  min-height: 90vh;
  @apply container;
  @apply px-4;
  @apply sm:px-6;
  @apply md:px-8;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply mx-auto;
}

.tooltip {
  position: relative;
  @apply inline-block;
}

.tooltip .tooltip-content {
  position: absolute;
  display: none;
  cursor: pointer;
  top: calc(100% + .25rem);
  @apply -right-2;
  @apply px-4;
  @apply py-2;
  @apply rounded-md;
  @apply shadow-sm;
  @apply text-sm;
  @apply bg-green-100;
  @apply text-gray-800;
}

.tooltip .tooltip-content::before {
  content: "";
  display: block;
  position: absolute;
  @apply bg-green-100;
  @apply w-4;
  @apply h-4;
  @apply transform;
  @apply rotate-45;
  @apply -top-1;
  @apply right-2;
}

.tooltip:hover .tooltip-content {
  display: block;
}